<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/">
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="admin\images\favicon.ico">

    <!-- select2 css -->
    <link href="admin\libs\select2\css\select2.min.css" rel="stylesheet" type="text/css">

    <!-- dropzone css -->
    <link href="admin\libs\dropzone\min\dropzone.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Css -->
    <link href="admin\css\bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="admin\css\icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="admin\css\app.min.css" id="app-style" rel="stylesheet" type="text/css">

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <th:block th:include="./admin/frags/Header.html"></th:block>
        <th:block th:include="./admin/frags/Sidebar.html"></th:block>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content" th:object="${p}">
            <a id="idpro">[[${p.id}]]</a>
            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Add Product</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Add Product</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Product</h4>
                                    <p class="card-title-desc">Fill all information below</p>

                                    <div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="productname">Product Name</label>
                                                    <input id="name" name="productname" type="text" class="form-control"
                                                        th:value="${p.name}" />
                                                </div>


                                                <div class="form-group">
                                                    <label for="price">Price</label>
                                                    <input id="price" name="price" type="text" class="form-control"
                                                        th:value="${p.price}">
                                                </div>

                                                <div class="form-group">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple="" id="file">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Category</label>
                                                    <select class="form-control select2" id="categorySelect"
                                                        onchange="loadOptions()">
                                                        <option th:value="${p.brand.category.id}"
                                                            th:text="${p.brand.category.name}"
                                                            th:selected="${p.brand.category.id}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Brand</label>
                                                    <select class="form-control select2" id="brandSelect">
                                                        <option th:value="${p.brand.id}" th:text="${p.brand.name}"
                                                            th:selected="${p.brand.id}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Color</label>

                                                    <select class="select2 form-control select2-multiple" id="mySelect"
                                                        multiple="multiple" data-placeholder="Choose ...">
                                                        <option th:each="c : ${colorSet}" th:value="${c.id}"
                                                            th:text="${c.name}"></option>

                                                        <option selected th:each="cl : ${p.information.colorSet}" th:value="${cl.id}" th:text="${cl.name}"></option>
                                                    </select>

                                                </div>


                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>



                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Information</h4>
                                    <p class="card-title-desc">Fill all information below</p>

                                    <div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="metatitle">CPU</label>
                                                    <input id="cpu" name="productname" type="text" class="form-control"
                                                        th:value="${p.information.cpu}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metakeywords">RAM</label>
                                                    <input id="ram" name="manufacturername" type="text"
                                                        class="form-control" th:value="${p.information.ram}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metatitle">OS</label>
                                                    <input id="os" name="productname" type="text" class="form-control"
                                                        th:value="${p.information.cpu}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metakeywords">SSD</label>
                                                    <input id="ssd" name="manufacturername" type="text"
                                                        class="form-control" th:value="${p.information.ssd}">
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="metatitle">WEIGHT</label>
                                                    <input id="weight" name="productname" type="text"
                                                        class="form-control" th:value="${p.information.weight}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metakeywords">WIFI</label>
                                                    <input id="wifi" name="manufacturername" type="text"
                                                        class="form-control" th:value="${p.information.wifi}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metatitle">SCREEN</label>
                                                    <input id="screen" name="productname" type="text"
                                                        class="form-control" th:value="${p.information.screen}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="metakeywords">PIN</label>
                                                    <input id="pin" name="manufacturername" type="text"
                                                        class="form-control" th:value="${p.information.pin}">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light"
                                            id="save">Save
                                            Changes</button>
                                        <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>

                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <textarea id="editor"></textarea>
                                    <script>

                                        ClassicEditor
                                            .create(document.querySelector('#editor'))
                                            .then(editor => {

                                                document.getElementById('save').addEventListener('click', function () {
                                                    var editorValue = editor.getData();
                                                    console.log(editorValue);

                                                    // var url = "https://example.com/item/123";
                                                    var url = window.location.href;
                                                    // Extract ID using regular expression
                                                    var match = url.match(/\/(\d+)$/);

                                                    // Check if a match is found
                                                    if (match) {
                                                        var id = match[1];
                                                        console.log("ID:", id);
                                                    } else {
                                                        console.log("ID not found in the URL");
                                                    }
                                                    // var id = $('#idpro').val();
                                                    var name_ = $('#name').val();
                                                    var price_ = $('#price').val();
                                                    var weight_ = $('#weight').val();

                                                    var pin_ = $('#pin').val();
                                                    var cpu_ = $('#cpu').val();
                                                    var ram_ = $('#ram').val();
                                                    var os_ = $('#os').val();
                                                    var screen_ = $('#screen').val();
                                                    var wifi_ = $('#wifi').val();
                                                    var ssd_ = $('#ssd').val();

                                                    var brandId_ = $('#brandSelect').val();



                                                    var desc_ = " ";
                                                    console.log(editorValue.length );
                                                    if (editorValue.length > 0) {
                                                        desc_ = editorValue;
                                                    }
                                                    var file = document.getElementById('file');
                                                    var files = file.files;

                                                    var formData = new FormData();
                                                    formData.append("id", id);
                                                    formData.append("description", desc_);
                                                    formData.append("name", name_);
                                                    formData.append("price", price_);
                                                    formData.append("weight", weight_);


                                                    formData.append("pin", pin_);
                                                    formData.append("ram", ram_);
                                                    formData.append("os", os_);
                                                    formData.append("screen", screen_);
                                                    formData.append("wifi", wifi_);
                                                    formData.append("cpu", cpu_);
                                                    formData.append("ssd", ssd_);
                                                    formData.append("brandId", brandId_);

                                                    var selectedValues = [];
                                                    for (var option of document.getElementById('mySelect').options) {
                                                        if (option.selected) {
                                                            selectedValues.push(option.value)
                                                            // formData.append("colors", selectedValues);
                                                        }
                                                    }

                                                    formData.append("color", selectedValues);
                                                    console.log(formData);
                                                    var xhr = new XMLHttpRequest();
                                                    xhr.open('POST', 'http://localhost:8080/api/product/update');
                                                    xhr.onreadystatechange = function () {
                                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                                            if (xhr.status === 200) {
                                                                window.location.href = '/Admin/product';
                                                            } else {
                                                                console.error(xhr.statusText);
                                                            }
                                                        }
                                                    };

                                                    xhr.send(formData);


                                                });
                                            })
                                            .catch(error => {
                                                console.error(error);
                                            });

                                    </script>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar="" class="h-100">
            <div class="rightbar-title px-3 py-4">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
                <h5 class="m-0">Settings</h5>
            </div>

            <!-- Settings -->
            <hr class="mt-0">
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="admin\images\layouts\layout-1.jpg" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-3">
                    <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked="">
                    <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="admin\images\layouts\layout-2.jpg" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-3">
                    <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch"
                        data-bsstyle="admin/css/bootstrap-dark.min.css" data-appstyle="admin/css/app-dark.min.css">
                    <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="admin\images\layouts\layout-3.jpg" class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="custom-control custom-switch mb-5">
                    <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch"
                        data-appstyle="admin/css/app-rtl.min.css">
                    <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
                </div>


            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="admin\libs\jquery\jquery.min.js"></script>
    <script src="admin\libs\bootstrap\js\bootstrap.bundle.min.js"></script>
    <script src="admin\libs\metismenu\metisMenu.min.js"></script>
    <script src="admin\libs\simplebar\simplebar.min.js"></script>
    <script src="admin\libs\node-waves\waves.min.js"></script>

    <!-- select 2 plugin -->
    <script src="admin\libs\select2\js\select2.min.js"></script>

    <!-- dropzone plugin -->
    <script src="admin\libs\dropzone\min\dropzone.min.js"></script>

    <!-- init js -->
    <script src="admin\js\pages\ecommerce-select2.init.js"></script>

    <!-- App js -->
    <script src="admin\js\app.js"></script>

    <!-- <script src="admin\js\data\product.js"></script> -->
    <script src="admin\js\data\categoryEdit.js"></script>

</body>

</html>