<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets404/css/styles.css">

        <title>Responsive 404 website - Bedimcode</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">from hunghacker with love</span>
                        <h1 class="home__title">Error 404</h1>
                        <p class="home__description">
                            We can't seem to find the page <br> you are looking for.
                        </p>
                        <a th:href="@{/}" class="home__button">
                            Go Home
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="assets404/img/ghost-img.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>(554) 987-654</span>
                    <span>|</span>
                    <span>info@company.com</span>
                </footer>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="assets404/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets404/js/main.js"></script>
    </body>
</html>